<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true"> <!-- default 1 minutes -->
	
	<springProfile name="local">
		<property name="LOG_FILE" value="../logs/sample-api" />
	</springProfile>
	<springProfile name="dev">
		<property name="LOG_FILE" value="/logs/sample-api" />
	</springProfile>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>			
				 %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</layout>
	</appender>

	<!--appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Asia/Seoul</timestampFormatTimezoneId>
                <appendLineSeparator>true</appendLineSeparator>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>true</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender-->	

	<appender name="file"	class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}-out.log</file>
		 <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
		      <!-- rollover daily -->
		      <fileNamePattern>${LOG_FILE}-out-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		       <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
		      <maxFileSize>10MB</maxFileSize>
			  <maxHistory>60</maxHistory>
			  <totalSizeCap>400MB</totalSizeCap>
	    </rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Asia/Seoul</timestampFormatTimezoneId>
                <appendLineSeparator>true</appendLineSeparator>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
	</appender>


	<logger name="com.example" level="INFO" additivity="false">
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</logger>
	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</logger>
	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</root>

</configuration>